.newPropertyForm, .editPropertyForm
    background: $theme-color-gradient
    padding-top: 2rem
    padding-bottom: 2rem
    form
        .add-img
            background: white
            padding: 0.5rem
            margin-top: 0.4rem
            margin-bottom : 0.4rem
            border-radius: 0.5rem
            p, input
                display: inline
            p
                font-size: 1rem

        .add-file
            @extend .add-img
            .title
                font-size: 1rem
                &-main
                    font-weight: bold
            input
                //