h1
    font-size: 2rem

.reg-section
    padding-top: 3rem
    padding-bottom: 3rem
    min-height: 30rem
    @media (max-width: 604px)
        text-align: center!important


    &-soft
        background: $theme-light
    &-soft-gradient
        background: $theme-soft-gradient
    &-color-gradient
        background: $theme-color-gradient

nav.options
    background: $theme-soft-gradient
    padding-top: 1rem
    padding-bottom: 1rem
    .container
        display: flex
        justify-content: center
        .btn
            margin-left: 0.5rem
            margin-right: 0.5rem


.section-title
    padding-top: 1.5rem
    padding-bottom: 1rem
    


.carousel
    margin: 0
    min-height: 30rem
    background: $theme-gray-gradient
    padding-top: 3rem
    padding-bottom: 3rem
    &-caption
        position: relative
        color: $theme-dark
        display: flex
        margin-top: 1rem
        @media ( max-width:  1167px)
            flex-direction: column
            left: 0
            right: 0
        @media ( min-width:  1168px)
            flex-direction: row
            
        .img-wrapper
            display: flex
            justify-content: center
            img.carousel-img
                width: 100%
                max-width: 25rem
        .text-wrapper
            line-height: 1.5rem
            @media ( max-width:  1167px)
                text-align: center
                padding-top: 2rem
            @media ( min-width:  1168px)
                padding-left: 2rem

            p
                margin-bottom: 0
            .btn
                margin-top: 1rem

textarea
    resize: none

.card 
    border: none
    background-color: white
    border-radius: 8px
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), -8px -8px 31px darken(white, 2.5%)
    transition: 0.3s
    min-width: 10rem
    
    &:hover
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
        border: none

    &-cover
        width: 100%
        height: 10rem
        img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center
    &-content
        height: auto
        min-height: 12rem
        padding: 0.8rem
        p
            margin: 0
            line-height: 1.5rem
